html{
    font-family: Arial;
}

/*Header */
header{
    background-image: linear-gradient(to bottom right, rgb(222, 255, 255), rgb(128, 208, 208));
    box-shadow: 2px 2px 10px;
    margin-bottom: 5px;
    position: sticky;
    top:0px;
    max-height: 20%;
    z-index: 100;
    width:100%;
    float:inline-start;
}
    .logo{
        float:left; 
        margin: 4px;
        width: 78px;
    }

/*Navigation Bar*/
nav{
    width:100%;
    margin:0px;
    background-color:rgb(32, 32, 64);
    padding-top: 2px;
    padding-bottom: 2px;
    float:inline-start;
    overflow: hidden;
}
    
   .navcontainer{
        margin:0px;
        padding:0px;
    }

    .navitem{
        border: 2px solid black;
        background-color: rgb(96, 96, 128);
        list-style-type: none;
        float: left;
        width: 10%;
        padding:8px;
        color: white
    }

    .plainlink{
        color: black;
        text-align: left;
        text-decoration: none;
    }

    .navitem:hover{
        background-color: rgb(128, 128, 208);
        animation: navpulse 1500ms infinite;
    }

    .active{
        background-color: rgb(176, 176, 240);
        color: black;
        width:20%;
    }

    .active:hover{
        animation:none;
        background-color: rgb(176, 176, 240);
    }

/*Body*/
body{
    background-color: rgb(128, 128, 208);
}
    main{
        background-image: linear-gradient(to bottom right, rgb(32, 32, 64), rgb(64, 64, 96));
        color: white;
        box-shadow: 2px 2px 8px black;
        padding: 12px;
        margin:5px;
        border-radius: 4px;
        width: 99%;
    }

    aside{
        background-image: linear-gradient(to bottom right, rgb(32, 32, 64), rgb(64, 64, 96));
        color: white;
        border-radius: 4px;
        box-shadow: 2px 2px 10px black;
        padding:12px;
        margin:5px;
        width: 100%;
        float:right;
    }

    /*Main Page Columns*/
    .left-col{
        float:left;
        width: 64%;
    }
    .right-col{
        float:right;
        width: 32%;
    }

/*Footer*/
footer{
    background-image: linear-gradient(to bottom right, rgb(32, 32, 64), rgb(64, 64, 96));
    color: white;
    border-radius: 10px;
    font-size: 12px;
    float:left;
    width:99%;
    margin-left:5px;
    padding:12px;
    padding-right:16px;
    padding-bottom: 0px;
    box-shadow: 2px 2px 10px black;
}

/*Image Gallery*/
.gallery-img{
    width:100%;
    filter: saturate(20%);
}

.col{
    padding-top: 24px;
}

.row{
    padding:8px;
}

/*Members Page*/
.membercontainer{
    padding: 8px;
    padding-left: 32px;
}


/*Carousel*/
.carousel-item{
    width: 100%;
}

/*text*/
h1{
    font-size: 50px;
    padding-top:10px;
    padding-bottom:14px;
}

a{
    color:lightblue;
}

/*table*/
table{
    border-collapse: collapse;
}

td{
    border: 2px solid rgb(96, 96, 128);
}

th{
    background-color:rgb(32, 32, 64);
    border: 2px solid rgb(96, 96, 128);
    color: white;
}

tr:nth-child(even){
    background-color: rgb(32, 32, 64);
    color:white;
}

tr:nth-child(odd){
    background-color: rgb(64, 64, 96);
    color:white;
}

tr:hover{
    background-color:rgb(160, 160, 224);
    color:black;
}

/*More Info*/
.info-img{
    width:100%;
}

iframe{
    width: 100%;
}

/*Buttons*/
button{
    font-family: arial;
}

button:hover{
    animation: pulse 1500ms infinite;
}

button:disabled:hover{
    animation: none;
}

/*animation*/

@keyframes pulse{
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(0.98);
	}
	67% {
		transform: scale(1.01)
	}
}

@keyframes navpulse{
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.98);
    }
}