/*main containers*/
body{
    background-color: lightblue;
}

header{
    background-color: burlywood;
    box-shadow: 2px 2px 8px;
}

nav{
    background-color: burlywood;
    box-shadow: 2px 2px 8px;
}

    li{
        border: 2px solid black;
        border-radius: 5%;
        background-color: darkgray;
        list-style-type: none;
    }

    a{
        color: black;
        text-align: center;
        text-decoration: none;
    }

    li:hover{
        background-color: lightgray;
    }

    .active{
        background-color: white;
    }

main{
    background-color: lightgreen;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
}

aside{
    background-color: lightgreen;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
}

footer{
    background-color: lightgreen;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
    font-size: 10px;
}


/*text*/
h1{
    font-family: Arial;
}

h2{
    font-family: Arial;
}

h3{
    font-family: Arial;
}

h4{
    font-family: Arial;
}

h5{
    font-family: Arial;
}

h6{
    font-family: Arial;
}

p{
    font-family: Arial;
}

/*table*/
table{
    font-family: Arial;
    border-collapse: collapse;
}

td{
    border: 2px solid #F0F0F0;
}

th{
    border: 2px solid #F0F0F0;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}

tr:nth-child(odd){
    background-color: lightgrey;
}

tr:hover{
    background-color:lightgreen;
}

td:hover{
    background-color:lightblue;
}

th{
    background-color:lightblue;
    border: 4px solid #F0F0F0;
}