/*main containers*/


header{
    background-color: burlywood;
    box-shadow: 2px 2px 8px;
    margin: 5px;
}
    .logo{
        float:left; 
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 16px
    }

nav{
    background-color: darkgray;
    box-shadow: 2px 2px 8px;
}
    ul{
        margin:0px;
        padding:0px;
        overflow:hidden;
    }
    li{
        border: 2px solid black;
        background-color: darkgray;
        list-style-type: none;
        float: left;
        width: 18%;
        padding:8px;
    }

    a{
        color: black;
        text-align: left;
        text-decoration: none;
    }

    li:hover{
        background-color: lightgray;
    }

    .active{
        background-color: white;
    }

body{
    background-color: lightblue;
}
    .left-col{
        float:left;
        width: 64%;
    }
    .right-col{
        float:right;
        width: 30%;
    }
    main{
        background-color: lightgreen;
        border-radius: 10px;
        box-shadow: 2px 2px 8px;
        padding-top:1px;
        padding-right:10px;
        padding-bottom:10px;
        padding-left: 10px;
        margin:5px
    }

    aside{
        background-color: lightgreen;
        border-radius: 10px;
        box-shadow: 2px 2px 8px;
        padding-top:1px;
        padding-right:10px;
        padding-bottom:5px;
        padding-left: 10px;
        margin:5px;
        width: 100%;
        float:right;
    }

footer{
    background-color: lightgreen;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
    font-size: 10px;
    float:left;
    width:99%;
    margin: 5px;
}

.carousel-item{
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}

.gallery-img{
    width:100%;
}

.img-gallery{
    padding-top: 10px;
}

/*text*/
h1{
    font-family: Arial;
    font-size: 50px;
    padding-top:10px;
    padding-bottom:16px;
}

h2{
    font-family: Arial;
}

h3{
    font-family: Arial;
}

h4{
    font-family: Arial;
}

h5{
    font-family: Arial;
}

h6{
    font-family: Arial;
}

p{
    font-family: Arial;
}

/*table*/
table{
    font-family: Arial;
    border-collapse: collapse;
}

td{
    border: 2px solid #F0F0F0;
}

th{
    border: 2px solid #F0F0F0;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}

tr:nth-child(odd){
    background-color: lightgrey;
}

tr:hover{
    background-color:lightblue;
}

td:hover{
    background-color:lightgreen;
}

th{
    background-color:lightblue;
    border: 4px solid #F0F0F0;
}